CMPE273-Lab03-WebService-eBay/WebContent/wsdl/AddProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://productMgmt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://productMgmt" xmlns:intf="http://productMgmt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://productMgmt" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addProduct">
    <complexType>
     <sequence>
      <element name="product_name" type="xsd:string"/>
      <element name="product_category" type="xsd:string"/>
      <element name="product_desc" type="xsd:string"/>
      <element name="product_adv" type="xsd:string"/>
      <element name="product_seller_info" type="xsd:string"/>
      <element name="product_quantity" type="xsd:int"/>
      <element name="product_price" type="xsd:float"/>
      <element name="product_bid_flag" type="xsd:string"/>
      <element name="product_base_bid" type="xsd:float"/>
      <element name="product_adv_time" type="xsd:string"/>
      <element name="product_bid_end_time" type="xsd:string"/>
      <element name="current_bid" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:addProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddProduct">

      <wsdl:operation name="addProduct">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddProductSoapBinding" type="impl:AddProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddProductService">

      <wsdl:port binding="impl:AddProductSoapBinding" name="AddProduct">

         <wsdlsoap:address location="http://localhost:8080/eBay-WebService/services/AddProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
