CMPE273-Lab03-WebService-eBay/WebContent/wsdl/Bidding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bidMgmt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bidMgmt" xmlns:intf="http://bidMgmt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bidMgmt" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateBidLog">
    <complexType>
     <sequence>
      <element name="product_id" type="xsd:string"/>
      <element name="bidamount" type="xsd:float"/>
      <element name="bidder" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateBidLogResponse">
    <complexType/>
   </element>
   <element name="updateProductTable">
    <complexType>
     <sequence>
      <element name="product_id" type="xsd:string"/>
      <element name="bidder" type="xsd:string"/>
      <element name="bidamount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProductTableResponse">
    <complexType/>
   </element>
   <element name="update_bid_transaction">
    <complexType>
     <sequence>
      <element name="product_id" type="xsd:string"/>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="update_bid_transactionResponse">
    <complexType/>
   </element>
   <element name="update_transaction_detail">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="product_id" type="xsd:string"/>
      <element name="bid_amount" type="xsd:float"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="update_transaction_detailResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="update_transaction_detailResponse">

      <wsdl:part element="impl:update_transaction_detailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductTableResponse">

      <wsdl:part element="impl:updateProductTableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateBidLogRequest">

      <wsdl:part element="impl:updateBidLog" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateBidLogResponse">

      <wsdl:part element="impl:updateBidLogResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductTableRequest">

      <wsdl:part element="impl:updateProductTable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_bid_transactionResponse">

      <wsdl:part element="impl:update_bid_transactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_transaction_detailRequest">

      <wsdl:part element="impl:update_transaction_detail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_bid_transactionRequest">

      <wsdl:part element="impl:update_bid_transaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bidding">

      <wsdl:operation name="updateBidLog">

         <wsdl:input message="impl:updateBidLogRequest" name="updateBidLogRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateBidLogResponse" name="updateBidLogResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProductTable">

         <wsdl:input message="impl:updateProductTableRequest" name="updateProductTableRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProductTableResponse" name="updateProductTableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_bid_transaction">

         <wsdl:input message="impl:update_bid_transactionRequest" name="update_bid_transactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:update_bid_transactionResponse" name="update_bid_transactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_transaction_detail">

         <wsdl:input message="impl:update_transaction_detailRequest" name="update_transaction_detailRequest">

       </wsdl:input>

         <wsdl:output message="impl:update_transaction_detailResponse" name="update_transaction_detailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BiddingSoapBinding" type="impl:Bidding">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateBidLog">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateBidLogRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateBidLogResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProductTable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProductTableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProductTableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_bid_transaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="update_bid_transactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="update_bid_transactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_transaction_detail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="update_transaction_detailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="update_transaction_detailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BiddingService">

      <wsdl:port binding="impl:BiddingSoapBinding" name="Bidding">

         <wsdlsoap:address location="http://localhost:8080/eBay-WebService/services/Bidding"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
