CMPE273-Lab03-WebService-eBay/WebContent/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://userManagement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://userManagement" xmlns:intf="http://userManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://userManagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validLogin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validLoginResponse">
    <complexType>
     <sequence>
      <element name="validLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLogin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLoginResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateLastLoginRequest">

      <wsdl:part element="impl:updateLastLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validLoginResponse">

      <wsdl:part element="impl:validLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validLoginRequest">

      <wsdl:part element="impl:validLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateLastLoginResponse">

      <wsdl:part element="impl:updateLastLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="validLogin">

         <wsdl:input message="impl:validLoginRequest" name="validLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:validLoginResponse" name="validLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdl:input message="impl:updateLastLoginRequest" name="updateLastLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateLastLoginResponse" name="updateLastLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateLastLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateLastLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/eBay-WebService/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
